<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="MyTest">
        <classes>
            <class name="tests.ui.UITest"/>
        </classes>
    </test>
</suite>
