<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EcomFunctionalTestSuite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="EcomUIRegressionTest">
        <classes>
            <class name="tests.ui.UITest"/>
			<class name="tests.ui.AuthenticationTest"/>
			<class name="tests.ui.CartTest"/>
            <class name="tests.ui.CheckoutTest"/>
            <class name="tests.ui.HomePageTest"/>
			<class name="tests.ui.PaymentsTest"/>
            <class name="tests.ui.ProductPageTest"/>
            <class name="tests.ui.SearchTest"/>
			<class name="tests.ui.SecurityTest"/>
        </classes>
    </test>
</suite>
